.wrapper {
  display: inline-block;
}

.info {
  padding: 1rem;
  color: white;
  background-color: #e9b20a;
  border-radius: 4px;
  font-size: 11px;
  white-space: nowrap;

  .arrow {
    border: 10px solid transparent;
    border-right-color: #e9b20a;
    left: -20px;
    position: absolute;
  }

  h6 {
    margin: 0;
    opacity: 0.66;
    padding: 0;
    text-transform: uppercase;
  }
}
